
#boton_1{
    background-color: black;
    color: white;
}
#boton_2{
    background-color: yellow;
}
.botones{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}